# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

Test1/\.vs/

Test1/

Calk/\.vs/

lab1-lvl0/calculator/\.vs/

lab1-lvl1/\.vs/

lab1-lvl0/Message/\.vs/

lab1-lvl0/Name/\.vs/

lab1-lvl1/Release/\.vs/

lab1-lvl1/Calculator/\.vs/

lab1-lvl1/Calculator2/\.vs/

lab1-lvl1/Calculator2/Debug/

lab1-lvl1/Calculator2/Calculator2/Debug/

lab1-lvl1/Calculator2_1/\.vs/

lab1-lvl1/Calculator2_1/Debug/

lab1-lvl1/Calculator2_1/Calculator2_1/Debug/

lab1-lvl1/Calculator/Debug/

lab1-lvl1/Calculator/Calculator/Debug/
lab2-lvl1/\.vs/

lab2-lvl1/Task 1/\.vs/

lab2-lvl1/Task 1/Debug/

lab2-lvl1/Task 1/Task 1/Debug/

lab2-lvl1/Task 2/\.vs/

lab2-lvl1/Task 2/Debug/

lab2-lvl1/Task 2/Task 2/Debug/

lab2-lvl1/Task 3/\.vs/

lab2-lvl1/Task 3/Debug/

lab2-lvl1/Task 3/Task 3/Debug/

ConsoleApplication1/

StructList/\.vs/

StructList/Debug/

StructList/StructList/Debug/

ConsoleApplication2/

ConsoleApplication3/

kurs-var10/

OPZ/

OPZ1/

Tast 2/

Test char/

vector/

vectorbas/

ОПЗ/
